<aside id="toc" class="desktop:grid-col-3 margin-bottom-2 padding-right-2 border-right-width-2">
    <div class="padding-2 bg-white height-viewport overflow-y-scroll sticky">
      <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true" aria-label="Table of contents subnavigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <button class="top-level-accordion usa-accordion__button"
              aria-expanded="true"
              aria-controls="subnav-list"
            >
              Table of Contents
            </button>
            <ul id="subnav-list" class="usa-sidenav__sublist" style="list-style: none;">
              <li class="usa-sidenav__item"><a href="#purpose">1. PURPOSE</a></li>
              <li class="usa-sidenav__item"><a href="#2. GENERAL">2. GENERAL</a></li>
              <li class="usa-sidenav__item"><a href="#3. MISCELLANEOUS">3. MISCELLANEOUS INSTRUCTIONS AND DEFINITIONS</a></li>
              <li class="usa-sidenav__item"><a href="#4. ACCESSIBLE">4. ACCESSIBLE ELEMENTS AND SPACES: SCOPE AND TECHNICAL REQUIREMENTS</a>
                <ul class="usa-accordion__content usa-sidenav__sublist" aria-label="Chapter 4 navigation">
                    <li  class="usa-sidenav__item"><a href="#4.1">4.1 Minimum Requirements</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.2">4.2 Space Allowance and Reach Ranges</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.3">4.3 Accessible Route</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.4">4.4 Protruding Objects</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.5">4.5 Ground and Floor Surfaces</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.6">4.6 Parking and Passenger Loading Zones</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.7">4.7 Curb Ramps</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.8">4.8 Ramps</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.9">4.9 Stairs</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.10">4.10 Elevators</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.11">4.11 Platform Lifts (Wheelchair Lifts)</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.12">4.12 Windows</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.13">4.13 Doors</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.14">4.14 Entrances</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.15">4.15 Drinking Fountains and Water Coolers</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.16">4.16 Water Closets</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.17">4.17 Toilet Stalls</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.18">4.18 Urinals</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.19">4.19 Lavatories and Mirrors</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.20">4.20 Bathtubs</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.21">4.21 Shower Stalls</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.22">4.22 Toilet Rooms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.23">4.23 Bathrooms, Bathing Facilities, and Shower Rooms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.24">4.24 Sinks</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.25">4.25 Storage</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.26">4.26 Handrails, Grab Bars, and Tub and Shower Seats</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.27">4.27 Controls and Operating Mechanisms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.28">4.28 Alarms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.29">4.29 Detectable Warnings</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.30">4.30 Signage</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.31">4.31 Telephones</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.32">4.32 Fixed or Built-in Seating and Tables</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.33">4.33 Assembly Areas</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.34">4.34 Automated Teller Machines</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.35">4.35 Dressing and Fitting Rooms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.36">4.36 Saunas and Steam Rooms</a></li>
                    <li  class="usa-sidenav__item"><a href="#4.37">4.37 Benches</a></li>                
                </ul>
              </li>
              <li  class="usa-sidenav__item"><a href="#rest">5. RESTAURANTS AND CAFETERIAS</a></li>
              <li  class="usa-sidenav__item"><a href="#medical">6. MEDICAL CARE FACILITIES</a></li>
              <li  class="usa-sidenav__item"><a href="#bus">7. BUSINESS, MERCANTILE AND CIVIC</a></li>
              <li  class="usa-sidenav__item"><a href="#lib">8. LIBRARIES</a></li>
              <li  class="usa-sidenav__item"><a href="#tran">9. ACCESSIBLE TRANSIENT LODGING</a></li>
              <li  class="usa-sidenav__item"><a href="#tranfac">10. TRANSPORTATION FACILITIES</a></li>
              <li  class="usa-sidenav__item"><a href="#judicial">11. JUDICIAL, LEGISLATIVE AND REGULATORY FACILITIES</a></li>
              <li  class="usa-sidenav__item"><a href="#DETENTION">12. DETENTION AND CORRECTIONAL FACILITIES</a></li>
              <li  class="usa-sidenav__item"><a href="">13. RESIDENTIAL HOUSING [RESERVED]</a></li>
              <li  class="usa-sidenav__item"><a href="">14. PUBLIC RIGHTS-OF-WAY [RESERVED]</a></li>
              <li  class="usa-sidenav__item"><a href="#15* RECREATION FACILITIES.">15. RECREATION FACILITIES</a></li>
              <li  class="usa-sidenav__item"><a href="#app">APPENDIX</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>