<aside id="toc" class="desktop:grid-col-3 margin-bottom-2 padding-right-2 border-right-width-2">
  <div class="padding-2 bg-white height-viewport overflow-y-scroll sticky">
    <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true" aria-label="Table of contents subnavigation">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <button class="top-level-accordion usa-accordion__button"
            aria-expanded="true"
            aria-controls="subnav-list"
          >
            Table of Contents
          </button>
          <ul id="subnav-list" class="usa-accordion__content usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="true"
                aria-controls="toc-about"
              >
              About the ADA
              </button>
                <ul id="toc-about" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li class="usa-sidenav__item"><a href="#about-the-ada-accessibility-standards">About the ADA Accessibility Standards</a></li>
                  <li class="usa-sidenav__item"><a href="#background">Background</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="toc-intro"
              >
              Introduction to the ADA
              </button>
                <ul id="toc-intro" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li class="usa-sidenav__item"><a href="#department-of-justice-ada-standards-2010">Department of Justice ADA Standards (2010)</a></li>
                  <li class="usa-sidenav__item"><a href="#department-of-transportation-ada-standards-for-transportation-facilities-2006">Department of Transportation ADA Standards for Transportation Facilities (2006)</a></li>
                </ul>
            </li>
<!--             <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="toc-doj"
              >
              DOJ's 2010 ADA Standards
              </button>
                <ul id="toc-doj" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li class="usa-sidenav__item"><a href="#doj-introduction">Introduction</a></li>
                  <li class="usa-sidenav__item"><a href="#doj-title-2">Title II: State and Local Government Facilities</a></li>
                  <li class="usa-sidenav__item"><a href="#doj-title-3">Title III: Public Accommodations and Commercial Facilities</a></li>
                  
                </ul>
            </li> -->
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch01"
              >
              Ch 1: Application and Administration
              </button>
                <ul id="ch01" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li class="usa-sidenav__item"><a href="#ada-101">101 Purpose</a></li>
                  <li class="usa-sidenav__item"><a href="#ada-102">102 Dimensions for Adults and Children</a></li>
                  <li class="usa-sidenav__item"><a href="#ada-103">103 Equivalent Facilitation</a></li>
                  <li class="usa-sidenav__item"><a href="#ada-104">104 Conventions</a></li>
                  <li class="usa-sidenav__item"><a href="#ada-105">105 Referenced Standards</a></li>
                  <li class="usa-sidenav__item"><a href="#ada-106">106 Definitions</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch02"
              >
              Ch 2: Scoping Requirements
              </button>
                <ul id="ch02" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-201">201 Application</a></li>
                  <li><a href="#ada-202">202 Existing Buildings and Facilities</a></li>
                  <li><a href="#ada-203">203 General Exceptions</a></li>
                  <li><a href="#ada-204">204 Protruding Objects</a></li>
                  <li><a href="#ada-205">205 Operable Parts</a></li>
                  <li><a href="#ada-206">206 Accessible Routes</a></li>
                  <li><a href="#ada-207">207 Accessible Means of Egress</a></li>
                  <li><a href="#ada-208">208 Parking Spaces</a></li>
                  <li><a href="#ada-209">209 Passenger Loading Zones and Bus Stops</a></li>
                  <li><a href="#ada-210">210 Stairways</a></li>
                  <li><a href="#ada-211">211 Drinking Fountains</a></li>
                  <li><a href="#ada-212">212 Kitchens, Kitchenettes, and Sinks</a></li>
                  <li><a href="#ada-213">213 Toilet Facilities and Bathing Facilities</a></li>
                  <li><a href="#ada-214">214 Washing Machines and Clothes Dryers</a></li>
                  <li><a href="#ada-215">215 Fire Alarm Systems</a></li>
                  <li><a href="#ada-216">216 Signs</a></li>
                  <li><a href="#ada-217">217 Telephones</a></li>
                  <li><a href="#ada-218">218 Transportation Facilities</a></li>
                  <li><a href="#ada-219">219 Assistive Listening Systems</a></li>
                  <li><a href="#ada-220">220 Automatic Teller Machines and Fare Machines</a></li>
                  <li><a href="#ada-221">221 Assembly Areas</a></li>
                  <li><a href="#ada-222">222 Dressing, Fitting, and Locker Rooms</a></li>
                  <li><a href="#ada-223">223 Medical Care and Long-Term Care Facilities</a></li>
                  <li><a href="#ada-224">224 Transient Lodging Guest Rooms</a></li>
                  <li><a href="#ada-225">225 Storage</a></li>
                  <li><a href="#ada-226">226 Dining Surfaces and Work Surfaces</a></li>
                  <li><a href="#ada-227">227 Sales and Service</a></li>
                  <li><a href="#ada-228">228 Depositories, Vending Machines, Change Machines, Mail Boxes, and Fuel Dispensers</a></li>
                  <li><a href="#ada-229">229 Windows</a></li>
                  <li><a href="#ada-230">230 Two-Way Communication Systems</a></li>
                  <li><a href="#ada-231">231 Judicial Facilities</a></li>
                  <li><a href="#ada-232">232 Detention Facilities and Correctional Facilities</a></li>
                  <li><a href="#ada-233">233 Residential Facilities</a></li>
                  <li><a href="#ada-234">234 Amusement Rides</a></li>
                  <li><a href="#ada-235">235 Recreational Boating Facilities</a></li>
                  <li><a href="#ada-236">236 Exercise Machines and Equipment</a></li>
                  <li><a href="#ada-237">237 Fishing Piers and Platforms</a></li>
                  <li><a href="#ada-238">238 Golf Facilities</a></li>
                  <li><a href="#ada-239">239 Miniature Golf Facilities</a></li>
                  <li><a href="#ada-240">240 Play Areas</a></li>
                  <li><a href="#ada-241">241 Saunas and Steam Rooms</a></li>
                  <li><a href="#ada-242">242 Swimming Pools, Wading Pools, and Spas</a></li>
                  <li><a href="#ada-243">243 Shooting Facilities with Firing Positions</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch03"
              >
              Ch 3: Building Blocks
              </button>
                <ul id="ch03" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-301">301 General</a></li>
                  <li><a href="#ada-302">302 Floor or Ground Surfaces</a></li>
                  <li><a href="#ada-303">303 Changes in Level</a></li>
                  <li><a href="#ada-304">304 Turning Space</a></li>
                  <li><a href="#ada-305">305 Clear Floor or Ground Space</a></li>
                  <li><a href="#ada-306">306 Knee and Toe Clearance</a></li>
                  <li><a href="#ada-307">307 Protruding Objects</a></li>
                  <li><a href="#ada-308">308 Reach Ranges</a></li>
                  <li><a href="#ada-309">309 Operable Parts</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch04"
              >
              Ch 4: Accessible Routes
              </button>
                <ul id="ch04" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-401">401 General</a></li>
                  <li><a href="#ada-402">402 Accessible Routes</a></li>
                  <li><a href="#ada-403">403 Walking Surfaces</a></li>
                  <li><a href="#ada-404">404 Doors, Doorways, and Gates</a></li>
                  <li><a href="#ada-405">405 Ramps</a></li>
                  <li><a href="#ada-406">406 Curb Ramps</a></li>
                  <li><a href="#ada-407">407 Elevators</a></li>
                  <li><a href="#ada-408">408 Limited-Use / Limited-Application Elevators</a></li>
                  <li><a href="#ada-409">409 Private Residence Elevators</a></li>
                  <li><a href="#ada-410">410 Platform Lifts</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch05"
              >
              Ch 5: General Site and Building Elements
              </button>
                <ul id="ch05" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-501">501 General</a></li>
                  <li><a href="#ada-502">502 Parking Spaces</a></li>
                  <li><a href="#ada-503">503 Passenger Loading Zones</a></li>
                  <li><a href="#ada-504">504 Stairways</a></li>
                  <li><a href="#ada-505">505 Handrails</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch06"
              >
              Ch 6: Plumbing Elements and Facilities
              </button>
                <ul id="ch06" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-601">601 General</a></li>
                  <li><a href="#ada-602">602 Drinking Fountains</a></li>
                  <li><a href="#ada-603">603 Toilet and Bathing Rooms</a></li>
                  <li><a href="#ada-604">604 Water Closets and Toilet Compartments</a></li>
                  <li><a href="#ada-605">605 Urinals</a></li>
                  <li><a href="#ada-606">606 Lavatories and Sinks</a></li>
                  <li><a href="#ada-607">607 Bathtubs</a></li>
                  <li><a href="#ada-608">608 Shower Compartments</a></li>
                  <li><a href="#ada-609">609 Grab Bars</a></li>
                  <li><a href="#ada-610">610 Seats</a></li>
                  <li><a href="#ada-611">611 Washing Machines and Clothes Dryers</a></li>
                  <li><a href="#ada-612">612 Saunas and Steam Rooms</a></li>     
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch07"
              >
              Ch 7: Communication Elements and Features
              </button>
                <ul id="ch07" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-701">701 General</a></li>
                  <li><a href="#ada-702">702 Fire Alarm Systems</a></li>
                  <li><a href="#ada-703">703 Signs</a></li>
                  <li><a href="#ada-704">704 Telephones</a></li>
                  <li><a href="#ada-705">705 Detectable Warnings</a></li>
                  <li><a href="#ada-706">706 Assistive Listening Systems</a></li>
                  <li><a href="#ada-707">707 Automatic Teller Machines and Fare Machines</a></li>
                  <li><a href="#ada-708">708 Two-Way Communication Systems</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch08"
              >
              Ch 8: Special Rooms, Spaces, and Elements
              </button>
                <ul id="ch08" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-801">801 General</a></li>
                  <li><a href="#ada-802">802 Wheelchair Spaces, Companion Seats, and Designated Aisle Seats</a></li>
                  <li><a href="#ada-803">803 Dressing, Fitting, and Locker Rooms</a></li>
                  <li><a href="#ada-804">804 Kitchens and Kitchenettes</a></li>
                  <li><a href="#ada-805">805 Medical Care and Long-Term Care Facilities</a></li>
                  <li><a href="#ada-806">806 Transient Lodging Guest Rooms</a></li>
                  <li><a href="#ada-807">807 Holding Cells and Housing Cells</a></li>
                  <li><a href="#ada-808">808 Courtrooms</a></li>
                  <li><a href="#ada-809">809 Residential Dwelling Units</a></li>
                  <li><a href="#ada-810">810 Transportation Facilities</a></li>
                  <li><a href="#ada-811">811 Storage</a></li>
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch09"
              >
              Ch 9: Built-In Elements
              </button>
                <ul id="ch09" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-901">901 General</a></li>
                  <li><a href="#ada-902">902 Dining Surfaces and Work Surfaces</a></li>
                  <li><a href="#ada-903">903 Benches</a></li>
                  <li><a href="#ada-904">904 Check-Out Aisles and Sales and Service Counters</a></li>     
                </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="false"
                aria-controls="ch10"
              >
              Ch 10: Recreational Facilities
              </button>
                <ul id="ch10" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                  <li><a href="#ada-1001">1001 General</a></li>
                  <li><a href="#ada-1002">1002 Amusement Rides</a></li>
                  <li><a href="#ada-1003">1003 Recreational Boating Facilities</a></li>
                  <li><a href="#ada-1004">1004 Exercise Machines and Equipment</a></li>
                  <li><a href="#ada-1005">1005 Fishing Piers and Platforms</a></li>
                  <li><a href="#ada-1006">1006 Golf Facilities</a></li>
                  <li><a href="#ada-1007">1007 Miniature Golf Facilities</a></li>
                  <li><a href="#ada-1008">1008 Play Areas</a></li>
                  <li><a href="#ada-1009">1009 Swimming Pools, Wading Pools, and Spas</a></li>
                  <li><a href="#ada-1010">1010 Shooting Facilities with Firing Positions</a></li>
                </ul>
            </li>
  
  
  
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>