<aside id="toc" class="desktop:grid-col-3 margin-bottom-2 padding-right-2 border-right-width-2">
  <div class="padding-2 bg-white height-viewport overflow-y-scroll sticky">
    <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true"
      aria-label="Table of contents subnavigation">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <button class="top-level-accordion usa-accordion__button" aria-expanded="true" aria-controls="subnav-list">
            Table of Contents
          </button>
          <ul id="subnav-list" class="usa-accordion__content usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="true"
                aria-controls="toc-about">
                About the ICT Accessiblity 508 Standards and 255 Guidelines
              </button>
              <ul id="toc-about" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#about-the-ict-accessibility-standards">About the ICT Accessibility Standards </a></li>
                <li><a href="#background">Background</a></li>
                <li><a href="#additional-resources">Additional Resources</a></li>
              </ul>
            </li>
            
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch01">
                508 Chapter 1: Application and Administration
              </button>
              <ul id="508ch01" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#E101-general">E101 General</a></li>
                <li><a href="#E102-referenced-standards">E102 Referenced Standards</a></li>
                <li><a href="#E103-definitions">E103 Definitions</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch02">
                508 Chapter 2: Scoping Requirements
              </button>
              <ul id="508ch02" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#E201-application">E201 Application</a></li>
                <li><a href="#E202-general-exceptions">E202 General Exceptions</a></li>
                <li><a href="#E203-functionality">E203 Access to Functionality</a></li>
                <li><a href="#E204-functional-performance-criteria">E204 Functional Performance Criteria</a></li>
                <li><a href="#E205-content">E205 Electronic Content</a></li>
                <li><a href="#E206-hardware">E206 Hardware</a></li>
                <li><a href="#E207-software">E207 Software</a></li>
                <li><a href="#E208-documentation-Services">E208 Support Documentation and Services</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="255ch01">
                255 Chapter 1: Application and Administration
              </button>
              <ul id="255ch01" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#C101-general">C101 General</a></li>
                <li><a href="#C102-referenced-standards">C102 Referenced Standards</a></li>
                <li><a href="#C103-definitions">C103 Definitions</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="255ch02">
                255 Chapter 2: Scoping Requirements
              </button>
              <ul id="255ch02" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#C201-application">C201 Application</a></li>
                <li><a href="#C202-functional-performance-criteria">C202 Functional Performance Criteria</a></li>
                <li><a href="#C203-electronic-content">C203 Electronic Content</a></li>
                <li><a href="#C204-hardware">C204 Hardware</a></li>
                <li><a href="#C205-software">C205 Software</a></li>
                <li><a href="#C206-documentation-services">C206 Support Documentation and Services</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch03">
                Chapter 3: Functional Performance Criteria
              </button>
              <ul id="508ch03" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#301-general">301 General</a></li>
                <li><a href="#302-functional-performance-criteria">302 Functional Performance Criteria</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch04">
                Chapter 4: Hardware
              </button>
              <ul id="508ch04" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#401-general">401 General</a></li>
                <li><a href="#402-closed-functionality">402 Closed Functionality</a></li>
                <li><a href="#403-biometrics">403 Biometrics</a></li>
                <li><a href="#404-preservation-information">404 Preservation of Information Provided for
                    Accessibility</a></li>
                <li><a href="#405-privacy">405 Privacy</a></li>
                <li><a href="#406-standard-connections">406 Standard Connections</a></li>
                <li><a href="#407-operable-parts">407 Operable Parts</a></li>
                <li><a href="#408-display-screens">408 Display Screens</a></li>
                <li><a href="#409-status-indicators">409 Status Indicators</a></li>
                <li><a href="#410-color-coding">410 Color Coding</a></li>
                <li><a href="#411-audible-signals">411 Audible Signals</a></li>
                <li><a href="#412-two-way-communication">412 ICT with Two-Way Communication</a></li>
                <li><a href="#413-closed-caption">413 Closed Caption Processing Technologies</a></li>
                <li><a href="#414-audio-description">414 Audio Description Processing Technologies</a></li>
                <li><a href="#415-user-controls-captions-audio-descriptions">415 User Controls for Captions and Audio
                    Descriptions</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch05">
                Chapter 5: Software
              </button>
              <ul id="508ch05" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#501-general">501 General</a></li>
                <li><a href="#502-interoperability-assistive-technology">502 Interoperability with Assistive
                    Technology</a></li>
                <li><a href="#503-applications">503 Applications</a></li>
                <li><a href="#504-authoring-tools">504 Authoring Tools</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch06">
                Chapter 6: Support Documentation and Services
              </button>
              <ul id="508ch06" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#601-general">601 General</a></li>
                <li><a href="#602-support-documentation">602 Support Documentation</a></li>
                <li><a href="#603-support-services">603 Support Services</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="508ch07">
                Chapter 7: Referenced Standards
              </button>
              <ul id="508ch07" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#701-general">701 General</a></li>
                <li><a href="#702-incorporation-by-reference">702 Incorporation by Reference</a></li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="orig508">
                Original 508 Standards (2000)
              </button>
              <ul id="orig508" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#original508">Electronic and Information Technology Accessibility Standards</a></li>
            </ul>
            </li>   
            <li class="usa-sidenav__item">
              <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                aria-controls="toc-intro">
                Preamble to the Final Rule
              </button>
              <ul id="toc-intro" class="usa-accordion__content usa-sidenav__sublist"
                aria-label="Page sections navigation">
                <li><a href="#preamble">Preamble</a></li>
                <li><a href="#supplementary-information">Supplementary Information</a></li>
              </ul>
            </li>         
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>