<ul>
    <li><a href="#about%C2%A0the-ada-and-aba-accessibility-guidelines-for%C2%A0the-public-rights-of-way">About the ADA and ABA Accessibility Guidelines for the Public Rights-of-Way</a></li>
    <li><a href="#background">Background</a></li>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#major-issues">Major Issues</a></li>
    <li><a href="#overview-of-proposed-guidelines">Overview of Proposed Guidelines</a></li>
    <li><a href="#impacts-on-state-and-local-governments">Impacts on State and Local Governments</a></li>
    <li><a href="#section-by-section-analysis">Section-by-Section Analysis</a></li>
    <li><a href="#regulatory-process-matters">Regulatory Process Matters</a></li>
    <li><a href="#part-1190---accessibility-guidelines-for-pedestrian-facilities-in-the-public-right-of-way">Part 1190 - Accessibility Guidelines for Pedestrian Facilities in the Public Right-of-Way</a></li>
    <li><a href="#1.-executive-summary">1. Executive Summary</a></li>
    <li><a href="#2.-background">2. Background</a></li>
    <li><a href="#3.-proposed-supplements-to-proposed-accessibility-guidelines-for-pedestrian-facilities-in-the-public-right-of-way">3. Proposed Supplements to Proposed Accessibility Guidelines for Pedestrian Facilities in the Public Right-of-Way</a></li>
    <li><a href="#4.-comparison-of-proposed-technical-provisions-applicable-to-shared-use-paths-and-aashto-guide">4. Comparison of Proposed Technical Provisions Applicable to Shared Use Paths and AASHTO Guide</a></li>
    <li><a href="#5.-conflicts-between-shared-path-users">5. Conflicts Between Shared Path Users</a></li>
    <li><a href="#6.-regulatory-analyses">6. Regulatory Analyses</a></li>
    <li><a href="#supplementary-provisions">Supplementary Provisions</a></li>
    
    <li><a href="#r101-purpose">R101 Purpose</a></li>
    <li><a href="#r102-equivalent-facilitation">R102 Equivalent Facilitation</a></li>
    <li><a href="#r103-conventions">R103 Conventions</a></li>
    <li><a href="#r104-referenced-standards">R104 Referenced Standards</a></li>
    <li><a href="#r105-definitions">R105 Definitions</a></li>
    
    <li><a href="#r201-application">R201 Application</a></li>
    <li><a href="#r202-alterations-and-elements-added-to-existing-facilities">R202 Alterations and Elements Added to Existing Facilities</a></li>
    <li><a href="#r203-machinery-spaces">R203 Machinery Spaces</a></li>
    <li><a href="#r204-pedestrian-access-routes">R204 Pedestrian Access Routes</a></li>
    <li><a href="#r205-alternate-pedestrian-access-routes">R205 Alternate Pedestrian Access Routes</a></li>
    <li><a href="#r206-pedestrian-street-crossings">R206 Pedestrian Street Crossings</a></li>
    <li><a href="#r207-curb-ramps-and-blended-transitions">R207 Curb Ramps and Blended Transitions</a></li>
    <li><a href="#r208-detectable-warning-surfaces">R208 Detectable Warning Surfaces</a></li>
    <li><a href="#r209-accessible-pedestrian-signals-and-pedestrian-pushbuttons">R209 Accessible Pedestrian Signals and Pedestrian Pushbuttons</a></li>
    <li><a href="#r210-protruding-objects">R210 Protruding Objects</a></li>
    <li><a href="#r211-signs">R211 Signs</a></li>
    <li><a href="#r212-street-furniture">R212 Street Furniture</a></li>
    <li><a href="#r213-transit-stops-and-transit-shelters">R213 Transit Stops and Transit Shelters</a></li>
    <li><a href="#r214-on-street-parking-spaces">R214 On-Street Parking Spaces</a></li>
    <li><a href="#r215-passenger-loading-zones">R215 Passenger Loading Zones</a></li>
    <li><a href="#r216-stairways-and-escalators">R216 Stairways and Escalators</a></li>
    <li><a href="#r217-handrails">R217 Handrails</a></li>
    <li><a href="#r218-doors,-doorways,-and-gates">R218 Doors, Doorways, and Gates</a></li>
    
    <li><a href="#r301-general">R301 General</a></li>
    <li><a href="#r302-pedestrian-access-routes">R302 Pedestrian Access Routes</a></li>
    <li><a href="#r303-alternate-pedestrian-access-routes">R303 Alternate Pedestrian Access Routes</a></li>
    <li><a href="#r304-curb-ramps-and-blended-transitions">R304 Curb Ramps and Blended Transitions</a></li>
    <li><a href="#r305-detectable-warning-surfaces">R305 Detectable Warning Surfaces</a></li>
    <li><a href="#r306-pedestrian-street-crossings">R306 Pedestrian Street Crossings</a></li>
    <li><a href="#r307-accessible-pedestrian-signals-and-pedestrian-pushbuttons">R307 Accessible Pedestrian Signals and Pedestrian Pushbuttons</a></li>
    <li><a href="#r308-transit-stops-and-transit-shelters">R308 Transit Stops and Transit Shelters</a></li>
    <li><a href="#r309-on-street-parking-spaces">R309 On-Street Parking Spaces</a></li>
    <li><a href="#r310-passenger-loading-zones">R310 Passenger Loading Zones</a></li>
    <li><a href="#r401-general">R401 General</a></li>
    <li><a href="#r402-protruding-objects">R402 Protruding Objects</a></li>
    <li><a href="#r403-operable-parts">R403 Operable Parts</a></li>
    <li><a href="#r404-clear-spaces">R404 Clear Spaces</a></li>
    <li><a href="#r405-knee-and-toe-clearance">R405 Knee and Toe Clearance</a></li>
    <li><a href="#r406-reach-ranges">R406 Reach Ranges</a></li>
    <li><a href="#r407-ramps">R407 Ramps</a></li>
    <li><a href="#r408-stairways">R408 Stairways</a></li>
    <li><a href="#r409-handrails">R409 Handrails</a></li>
    <li><a href="#r410-visual-characters-on-signs">R410 Visual Characters on Signs</a></li>
    <li><a href="#r411-international-symbol-of-accessibility">R411 International Symbol of Accessibility</a></li>
    </ul>
    