<aside id="toc" class="desktop:grid-col-3 margin-bottom-2 padding-right-2 border-right-width-2">
  <div class="padding-2 bg-white height-viewport overflow-y-scroll sticky">
    <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true" aria-label="Table of contents subnavigation">
        <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
                <button class="top-level-accordion usa-accordion__button text-center text-uppercase text-heavy" aria-expanded="true" aria-controls="subnav-list" accesskey="1">
                    Table of Contents
                </button>
                <ul id="subnav-list" class="usa-accordion__content usa-sidenav__sublist">
                    <li class="usa-sidenav__item" style="background-color: white;"><a href="#introduction" class="usa-sidenav usa-current">Introduction</a></li>
                    <li class="usa-sidenav__item" style="background-color: white;"><a href="#1.-purpose" class="usa-sidenav usa-current">1. Purpose</a></li>
                    <li class="usa-sidenav__item">
                        <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"             aria-controls="toc-2">
                            2. General
                        </button>
                            <ul id="toc-2" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#2.1-authority">2.1 Authority</A></Li>
                                    <Li><A Href="#2.2-provisions-for-adults">2.2 Provisions For Adults</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-3">
                                3. Miscellaneous Instructions And Definitions
                                </button>
                                <ul id="toc-3" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#3.1-graphic-conventions">3.1 Graphic Conventions</A></Li>
                                    <Li><A Href="#3.2-dimensional-tolerances">3.2 Dimensional Tolerances</A></Li>
                                    <Li><A Href="#3.3-notes">3.3 Notes</A></Li>
                                    <Li><A Href="#3.4-general-terminology">3.4 General Terminology</A></Li>
                                    <Li><A Href="#3.5-definitions">3.5 Definitions</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-4">
                                4. Accessible Elements And Spaces: Scope And Technical Requirements
                                </button>
                                <ul id="toc-4" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#4.1-minimum-requirements">4.1 Minimum Requirements</A></Li>
                                    <Li><A Href="#4.2-space-allowance-and-reach-ranges">4.2 Space Allowance And Reach Ranges</A></Li>
                                    <Li><A Href="#4.3-accessible-route">4.3 Accessible Route</A></Li>
                                    <Li><A Href="#4.4-protruding-objects">4.4 Protruding Objects</A></Li>
                                    <Li><A Href="#4.5-ground-and-floor-surfaces">4.5 Ground And Floor Surfaces</A></Li>
                                    <Li><A Href="#4.6-parking-and-passenger-loading-zones">4.6 Parking And Passenger Loading Zones</A></Li>
                                    <Li><A Href="#4.7-curb-ramps">4.7 Curb Ramps</A></Li>
                                    <Li><A Href="#4.8-ramps">4.8 Ramps</A></Li>
                                    <Li><A Href="#4.9-stairs">4.9 Stairs</A></Li>
                                    <Li><A Href="#4.10-elevators">4.10 Elevators</A></Li>
                                    <Li><A Href="#4.11*-platform-lifts">4.11* Platform Lifts</A></Li>
                                    <Li><A Href="#4.12-windows">4.12 Windows</A></Li>
                                    <Li><A Href="#4.13-doors">4.13 Doors</A></Li>
                                    <Li><A Href="#4.14-entrances">4.14 Entrances</A></Li>
                                    <Li><A Href="#4.15-drinking-fountains-and-water-coolers">4.15 Drinking Fountains And Water Coolers</A></Li>
                                    <Li><A Href="#4.16-water-closets">4.16 Water Closets</A></Li>
                                    <Li><A Href="#4.17-toilet-stalls">4.17 Toilet Stalls</A></Li>
                                    <Li><A Href="#4.18-urinals">4.18 Urinals</A></Li>
                                    <Li><A Href="#4.19-lavatories-and-mirrors">4.19 Lavatories And Mirrors</A></Li>
                                    <Li><A Href="#4.20-bathtubs">4.20 Bathtubs</A></Li>
                                    <Li><A Href="#4.21-shower-stalls">4.21 Shower Stalls</A></Li>
                                    <Li><A Href="#4.22-toilet-rooms">4.22 Toilet Rooms</A></Li>
                                    <Li><A Href="#4.23-bathrooms,-bathing-facilities,-and-shower-rooms">4.23 Bathrooms, Bathing Facilities, And Shower Rooms</A></Li>
                                    <Li><A Href="#4.24-sinks">4.24 Sinks</A></Li>
                                    <Li><A Href="#4.25-storage">4.25 Storage</A></Li>
                                    <Li><A Href="#4.26-handrails,-grab-bars,-and-tub-and-shower-seats">4.26 Handrails, Grab Bars, And Tub And Shower Seats</A></Li>
                                    <Li><A Href="#4.27-controls-and-operating-mechanisms">4.27 Controls And Operating Mechanisms</A></Li>
                                    <Li><A Href="#4.28-alarms">4.28 Alarms</A></Li>
                                    <Li><A Href="#4.29-tactile-warnings">4.29 Tactile Warnings</A></Li>
                                    <Li><A Href="#4.30-signage">4.30 Signage</A></Li>
                                    <Li><A Href="#4.31-telephones">4.31 Telephones</A></Li>
                                    <Li><A Href="#4.32-seating,-tables,-and-work-surfaces">4.32 Seating, Tables, And Work Surfaces</A></Li>
                                    <Li><A Href="#4.33-assembly-areas">4.33 Assembly Areas</A></Li>
                                    <Li><A Href="#4.34-dwelling-units">4.34 Dwelling Units</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-5">
                                5. Restaurants And Cafeterias
                                </button>
                                <ul id="toc-5" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#5.1-general">5.1 General</A></Li>
                                    <Li><A Href="#5.2-food-service-lines">5.2 Food Service Lines</A></Li>
                                    <Li><A Href="#5.3-tableware-areas">5.3 Tableware Areas</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-6">
                                6. Health Care
                                </button>
                                <ul id="toc-6" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#6.1-general">6.1 General</A></Li>
                                    <Li><A Href="#6.2-entrances">6.2 Entrances</A></Li>
                                    <Li><A Href="#6.3-patient-bedrooms">6.3 Patient Bedrooms</A></Li>
                                    <Li><A Href="#6.4-patient-toilet-rooms">6.4 Patient Toilet Rooms</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-7">
                                7. Mercantile
                                </button>
                                <ul id="toc-7" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#7.1-general">7.1 General</A></Li>
                                    <Li><A Href="#7.2-service-counters">7.2 Service Counters</A></Li>
                                    <Li><A Href="#7.3-check-out-aisles">7.3 Check-Out Aisles</A></Li>
                                    <Li><A Href="#7.4-security-bollards">7.4 Security Bollards</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-8">
                                8. Libraries
                                </button>
                                <ul id="toc-8" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#8.1-general">8.1 General</A></Li>
                                    <Li><A Href="#8.2-reading-and-study-areas">8.2 Reading And Study Areas</A></Li>
                                    <Li><A Href="#8.3-check-out-areas">8.3 Check-Out Areas</A></Li>
                                    <Li><A Href="#8.4-card-catalogs">8.4 Card Catalogs</A></Li>
                                    <Li><A Href="#8.5-stacks">8.5 Stacks</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item">
                                <button class="subnav-anchor usa-current usa-accordion__button" aria-expanded="false"
                                aria-controls="toc-9">
                                9. Postal Facilities
                                </button>
                                <ul id="toc-9" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                                    
                                    <Li><A Href="#9.1-general">9.1 General</A></Li>
                                    <Li><A Href="#9.2*-post-office-lobbies">9.2* Post Office Lobbies</A></Li>
                                    <Li><A Href="#9.3-self-service-postal-center">9.3 Self-Service Postal Center</A></Li>
                                    <Li><A Href="#9.4-post-office-boxes">9.4 Post Office Boxes</A></Li>
                                    <Li><A Href="#9.5-locker-rooms">9.5 Locker Rooms</A></Li>
                                    <Li><A Href="#9.6-attendance-recording-equipment">9.6 Attendance-Recording Equipment</A></Li>
                                </ul>
                            </li>
                            <li class="usa-sidenav__item" style="background-color: white;"><a href="#appendix" class="usa-sidenav usa-current">Appendix</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
      </ul>
    </nav>
  </div>
</aside>