<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container maxw-desktop">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col text-center">
           <span class="logo-links">
            <a href="https://www.access-board.gov/guidance.html">Guidance Documents</a> &nbsp;
            <a href="https://www.access-board.gov/about/policy/accessibility.html">Accessibility</a> &nbsp;
            <a href="https://www.access-board.gov/about/par.html">Budget and Performance</a> &nbsp;
            <a href="https://www.access-board.gov/about/no-fear-data.html">No FEAR Act Data</a> &nbsp;
            <a href="https://www.access-board.gov/about/policy/foia.html" title="Freedom of Information Act">FOIA</a> &nbsp;
            <a href="https://www.access-board.gov/about/policy/privacy.html" title="Privacy Policy">Privacy</a> &nbsp;
            <a href="https://osc.gov/agency" title="U.S. Office of Special Counsel">OSC.gov</a> &nbsp;
            <a href="https://usa.gov" title="Have a question about government services?">USA.gov</a> <br />
            <a class="footer-logo media_link" href="https://www.access-board.gov/">{% asset usab-logo.svg alt="usab logo" width="50" %}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
