<div class="grid-row grid-gap margin-bottom-2">
    <div class="grid-col-2">
      <img src="{{ site.baseurl }}{{ page.image-directory }}{{ include.img-file1 }}" alt="{{ include.img-alt1 }}" class="img-full"><br>
      <img src="{{ site.baseurl }}{{ page.image-directory }}{{ include.img-file2 }}" alt="{{ include.img-alt2 }}" class="img-full"><br>
      <img src="{{ site.baseurl }}{{ page.image-directory }}{{ include.img-file3 }}" alt="{{ include.img-alt3 }}" class="img-full">
    </div>
    <div class="grid-col-fill">
      <span class="grid-line-left">{{ include.text }}</span>
    </div>
  </div>