<div class="grid-container">
    <div class="grid-row">
        <div class="grid-col-6">
        <img class="img-large" src="{{ site.baseurl }}{{ page.image-directory }}{{ include.image-1 }}" alt="{{ include.alt-1 }}">
        </div>
        <div class="grid-col-6">
        <img class="img-large" src="{{ site.baseurl }}{{ page.image-directory }}{{ include.image-2 }}" alt="{{ include.alt-2 }}">
        </div>
    </div>
    <div class="grid-row">
        <p class="img-large-caption">{{ include.text }}</p>
    </div>
</div>