{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}
<section class="usa-hero" style="background-image: url({{ site.baseurl }}/images/stock/av-hero.jpg);">
  <div class="grid-container">
    <div class="usa-hero__callout bg-white opacity-80">
      <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt text-secondary-dark">Upcoming Event</em>
      </h2>
      <p class="text-black text-bold">
        Autonomous Vehicle four-part series: Making AVs accessible to passengers with disabilities
      </p>
      <a href="{{ site.baseurl }}/av/" class="usa-button">Learn More</a>
    </div>
  </div>
</section>
