<div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
  <h4>Social Links</h4>
  <ul class="usa-list usa-list--unstyled padding-top-2">
    <li class="padding-bottom-1"> <a class="text-blue" href="https://www.youtube.com/channel/UC5tRWTtV5eSw68N3tSpmyWw" target="_blank" rel="noreferrer"><span ><i class="fab fa-youtube fa-2x margin-right-2" style="color: #FF0000; vertical-align: middle;"></i>U.S. Access Board on YouTube</span></a> </li>
    <li class="padding-bottom-1"> <a class="text-blue" href="https://twitter.com/AccessBoard" target="_blank" rel="noreferrer"><span ><i class="fab fa-twitter fa-2x margin-right-2" style="color: #1DA1F2; vertical-align: middle;"></i>@AccessBoard on Twitter</span></a></li>
  </ul>
</div>
