<div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
  <h4>Webinar Resources</h4>
  <ul class=" usa-list usa-list--unstyled padding-top-2">
    <li class="padding-bottom-1">
      <a class="usa-link" href="{{ site.baseurl }}/webinars/about.html">Access Board Webinar Series</a>      
      <ul class="usa-list padding-top-2">
        <li class="padding-bottom-1">
          <a class="usa-link" target="_blank" rel="noreferrer" href="https://www.accessibilityonline.org/ao/schedule/">Accessibility Online</a>
        </li>
        <li class="padding-bottom-1">
          <a class="usa-link" target="_blank" rel="noreferrer" href="https://www.accessibilityonline.org/ao/archives/">Accessibility Online Archives</a>
        </li>
        <li class="padding-bottom-1">
          <a class="usa-link" target="_blank" rel="noreferrer" href="https://www.accessibilityonline.org/cioc-508/schedule/">Section 508 Series</a>
        </li>
        <li class="padding-bottom-1">
          <a class="usa-link" target="_blank" rel="noreferrer" href="https://www.accessibilityonline.org/cioc-508/archives/">Section 508 Series Archives</a>
        </li>
      </ul>
    </li>

    <li class="padding-bottom-1">
      <a class="usa-link" href="{{ site.baseurl }}/webinars/training.html">Request a Training or Webinar</a>
    </li>
  </ul>
</div>