<div class="usa-logo site-logo" id="logo">
  <!-- <a class="style-inherit" href="/" title="Home" aria-label="{{site.title}} home"> -->
   <div class="display-flex flex-align-center">
      <div class="star-logo-box">
        <img src="{{ site.baseurl }}/images/usab-logo-white.svg" class="star-logo" alt="USAB star logo">
      </div>
      <div>
        <span aria-hidden="true" class="site-title-short text-bold">ICT Baseline</span>
        <span class="site-title">{{site.title}}</span> 
        <span class="site-subtitle"><br>Setting the bar for accessibility testing</span>
      </div>
      <div class="star-logo-box">
        <img src="{{ site.baseurl }}/images/gsa-logo.svg" class="star-logo" alt="GSA logo">
      </div>
    </div>
  <!-- </a> -->
</div>
