<div class="usa-logo site-logo" id="logo">
  <a class="style-inherit" href="https://www.access-board.gov/" title="Home" aria-label="{{site.title}} home">
   <div class="display-flex flex-align-center">
      <div class="star-logo-box">
        <img src="https://www.access-board.gov/images/usab-logo.svg" class="star-logo" alt="USAB star logo">
      </div>
      <div>
        <span aria-hidden="true" class="site-title-short text-bold">USAB</span>
        <span class="site-title">{{site.title}}</span> 
        <span class="site-subtitle"><br>Advancing Full Access and Inclusion for All</span>
      </div>
    </div>
  </a>
</div>
