<div class="border padding-1">
    <img src="{{ site.baseurl }}/images/ada-aba/guides/compass.jpg" alt="design compass" class="float-left margin-1">
    <p><em>Recommendation: </em>{{ include.text }}</p>
    <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col">
              <img class="img-large" src="{{ site.baseurl }}{{ page.image-directory }}{{ include.img-file1 }}" alt="{{ include.img-alt1 }}">
          </div>
          <div class="tablet:grid-col">
              <img class="img-large" src="{{ site.baseurl }}{{ page.image-directory }}{{ include.img-file2 }}" alt="{{ include.img-alt2 }}">
          </div>
        </div>
    </div>
</div>