<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script
  id="_fed_an_ua_tag"
  src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}"
></script>
{% if page.title == "Map of WCAG to Section 508 FPC" %}
<script src="{{site.baseurl}}/assets/js/accResponsiveTable.js"></script>
{% endif %}
<!-- imported js modules -->
<script src="{{site.baseurl}}/assets/js/uswds.min.js"></script>
<script src="{{site.baseurl}}/assets/stickyfilljs/stickyfill.js"></script>
<script src="{{site.baseurl}}/assets/dompurify/purify.min.js"></script>
<script src="{{site.baseurl}}/assets/js/anchor-rsd.js"></script>
<script src="{{site.baseurl}}/assets/video-js/video.min.js"></script>
<script src="{{site.baseurl}}/assets/youtube-video-js/Youtube.min.js"></script>
{% unless page.title == "Map of WCAG to Section 508 FPC" %}
  <script src="{{site.baseurl}}/assets/jquery/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.dataTables.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/natural.js"></script>
{% endunless %}
<script src="{{site.baseurl}}/assets/swiper/swiper-bundle.js "></script>
<script src="{{site.baseurl}}/assets/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="{{site.baseurl}}/assets/js/toast-rsd.js"></script>
<script src="{{site.baseurl}}/assets/js/swiper-rsd.js"></script>
<script src="{{site.baseurl}}/assets/js/datatables.js"></script>
<script src="{{site.baseurl}}/assets/js/external-links.js"></script>
<script src="{{site.baseurl}}/assets/js/toc-subnav.js"></script>
<script src="{{site.baseurl}}/assets/js/anchorify.js"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>
<script src="{{site.baseurl}}/assets/js/menu.js"></script>
<script src="{{site.baseurl}}/assets/fontawesome-free/js/all.min.js"></script>