{% comment %}
add this right side navigation to any page using front matter. Easiest to apply it to the entire collection in the _config.yml file by adding  right-sidenav: sidenav-right-universal.html 
 then add the information you want in the side navigation

s-url:
s-image:
ta-text:
ta-email-pre:

Modified sidenav-right-universal.html for the ICT Baseline Portfolio site.

{% endcomment %}

<div class="desktop:grid-col-2 margin-top-1 margin-x-1 noprint">
  <div class="height-viewport sticky">
    <div class="padding-2 bg-white border maxh-viewport">
      {% if page.title contains "Doc" %}
      <div class="grid-container margin-y-3 text-center">
        <a class="usa-button usa-button margin-x-auto" href="{{ site.baseurl }}/alldocsbaselines.html">All Baseline Tests for Documents</a>
      </div>
      {% elsif page.title contains "Web" %}
      <div class="grid-container margin-y-3 text-center">
        <a class="usa-button usa-button margin-x-auto" href="{{ site.baseurl }}/allwebbaselines.html">All Baseline Tests for Web</a>
      </div>
      {% elsif page.title contains "Portfolio" %}
      <div class="grid-container margin-y-3 text-center">
        <a class="usa-button usa-button margin-x-auto" href="{{ site.baseurl }}/alldocsbaselines.html">All Baseline Tests for Documents</a>
      </div>
      <div class="grid-container margin-y-3 text-center">
          <a class="usa-button usa-button margin-x-auto" href="{{ site.baseurl }}/allwebbaselines.html">All Baseline Tests for Web</a>
      </div>
      {% endif %}
      
      <div class="text-center">
        {% if page.s-image %}
        <a class="usa-link" href="{{ site.baseurl }}{{ page.s-url }}">
          <img src="{{site.baseurl}}/images/{{page.s-image}}" class="maxh-15" alt="" />
        <span class="usa-button">{{ page.s-url-text }}</span>
        </a>
        {% endif %}
      </div>
      <div class="margin-top-2 text-center"> 
          
        <!-- <div class="text-center">
          <h4 class="padding-1 bg-primary-darker text-white">Contact the ICT Baseline Working Group</h4>
          <br> -->
          <ul class="usa-list usa-list--unstyled padding-top-1">
            <li class="padding-bottom-0"><a href="https://github.com/atbcb/ICTTestingBaseline/issues/new?assignees=&labels=&projects=&template=baseline-issue-template.md&title=" target="_blank" rel="noopener noreferrer"><img src="{{site.baseurl}}/images/github-mark.png" class="maxh-205 margin-right-05" alt="Github octocat logo" />Open a Github issue</a></li>
            <li class="padding-bottom-0"><a href="mailto:ictbaseline@gsa.gov"><img src="{{site.baseurl}}/images/email.png" class="maxh-205 margin-right-05" alt="" /> Email Us</a></li>
          </ul>
          <!-- <h5 class="padding-1 bg-primary-darker text-white">Related Projects</h5>
          <p>The <a href="https://baselinealignment.section508.gov/">Baseline Alignment for Web</a> is being developed to aid in determining if a test process aligns with the ICT Baseline for Web.</p> -->
        </div>
      </div>
      {% include back-to-top.html %}
    </div>
  </div>
  </div>
