{% comment %}
 this right side navigation is specific to the training page 
{% endcomment %}



    <div class="padding-2 border bg-white shadow">
      <div class="text-center">
        {% asset stock/presenter.svg class="maxh-15" alt="" %}
        
        <div class="text-center">
          <h4 class="padding-1 bg-secondary-darker text-white">Trainings</h4>
          <span class="font-body-3xs">For more information on the Board’s training program or to request training, contact Bill Botten, Training Coordinator</span>
          <br>
          <ul class="usa-list usa-list--unstyled padding-top-1 font-body-3xs">
          <li class="padding-bottom-0">(202) 272-0014 (v)</li>
          <li class="padding-bottom-0">(202) 272-0073  (tty)</li>
          <li class="padding-bottom-0"><a href="mailto:training@access-board.gov">training@access-board.gov</a></li>
          </ul>
        </div>

      </div>
    </div>
