{% comment %}
 this right side navigation is specific to the aircraft page 
{% endcomment %}



    <div class="padding-2 border bg-white shadow">
      <div class="text-center">
        {% asset stock/aircraft.svg class="maxh-15" alt="aircraft icon" %}
        <div class="text-center">
          <p class="padding-1 bg-secondary-darker text-white text-bold">Aircraft</p>
          <p class="font-body-3xs">For more information on aircraft, contact:
          <p class="text-bold">Mario Damiani</p>
          <p class="font-body-3xs">(202) 272-0050 (v)</p>
          <p class="font-body-3xs">(202) 272-0066 (tty)</p>
          <p class="font-body-3xs"><a href="mailto:damiani@access-board.gov">damiani@access-board.gov</a></p>
        </div>
      </div>
      {% include subscribe.html name='Transportation' value='USACCESS_13' %}
    </div>
