{% comment %}
add this right side navigation to any page using front matter. Easiest to apply it to the entire collection in the _config.yml file by adding  right-sidenav: sidenav-right-universal.html 
 then add the information you want in the side navigation

s-url:
s-image:
ta-text:
ta-email-pre:

Modified for the ICT Baseline site.

{% endcomment %}

<div class="desktop:grid-col-2 margin-top-1 margin-x-1 noprint">
  <div class="height-viewport sticky">
    <div class="padding-2 bg-white border maxh-viewport">
      <div class="grid-container margin-y-3 text-center">
        <a class="usa-button usa-button margin-x-auto" href="{{ site.baseurl }}/allbaselines.html">All Baseline Tests for Web</a>
        </div>
      <div class="text-center">
        {% if page.s-image %}
        <a class="usa-link" href="{{ site.baseurl }}{{ page.s-url }}">
          <img src="{{site.baseurl}}/images/{{page.s-image}}" class="maxh-15" alt="" />
        <span class="usa-button">{{ page.s-url-text }}</span>
        </a>
        {% endif %}
      </div>
      <div class="margin-top-2 text-center">
        <img src="{{site.baseurl}}/images/stock/question.svg" class="maxh-15" alt="" />
        
        <div class="text-center">
          <h4 class="padding-1 bg-primary-darker text-white">Contact the ICT Baseline Working Group</h4>
          <br>
          <ul class="usa-list usa-list--unstyled padding-top-1">
            <li class="padding-bottom-0"><a href="https://github.com/atbcb/ICTTestingBaseline/issues" target="_blank" rel="noopener noreferrer">Open a Github issue for this baseline</a></li>  
            <li class="padding-bottom-0"><a href="mailto:ictbaseline@gsa.gov">Email ITBWG</a></li>
          </ul> 
          <h5 class="padding-1 bg-primary-darker text-white">Related Projects</h5>
          <p>The <a href="https://baselinealignment.section508.gov/">Baseline Alignment for Web</a> is being developed to aid in determining if a test process aligns with the ICT Baseline for Web.</p>
        </div>
      </div>
      {% include back-to-top.html %}
    </div>
  </div>
  </div>
