{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-graphic-list usa-section--dark padding-bottom-10">
  <div class="grid-container maxw-tablet-lg">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <p class="text-center text-italic">
            The U.S. Access Board is a federal agency that promotes equality for people with disabilities through leadership in inclusive design and the development of accessibility guidelines and standards.
         </p>
        </div>
      </div>
    </div>
  </div>
</section>