<h3>Method Rationale</h3>

-   The image tests evaluate the images as coded to discern whether the author of the content has determined they are meaningful or decorative. However, there are certain scenarios, as described in the tests, where the author's programmatic determination could be incorrect.
-   The tests include guidance from the <a href="https://www.w3.org/WAI/tutorials/images/">W3C Web Accessiblity Initiative Images Tutorial</a>.
-   All images must be evaluated. Multiple tests may apply to an image.
