<h3>Test method rationale</h3>

For assistive technology (AT) users, data tables must explicitly associate table data with table row and column headers via programmatic markup. Table markup also facilitates navigation for AT users by providing programmatic landmarks via column and row headers.

When <code>&lt;table&gt;</code> elements are used for layout purposes, data table structure elements are not permitted, such as <code>&lt;th&gt;</code>, <code>&lt;caption&gt;</code>, or <code>&lt;summary&gt;</code> (HTML4).
