<h3>Method Rationale</h3>

-   WCAG 2.2 has deprecated SC 4.1.1 Parsing as it no longer has utility because accessibility errors due to assistive technology directly parsing HTML no longer exist or are addressed in other criteria.
-   Section 508 is not directly affected by WCAG 2.2 as it incorporates by reference WCAG 2.0 Level A and AA, W3C Recommendation, December 11, 2008. SC 4.1.1 Parsing is not deprecated in WCAG 2.0, and the criterion is a Section 508 requirement. However, this Baseline test will incorporate the [WCAG 2.0 Errata](https://www.w3.org/WAI/WCAG20/errata/) which states "This criterion should be considered as always satisfied for any content using HTML or XML."
