---
title: All Baselines (single file)
permalink: /allbaselines
layout: page-full
---
{% assign baseline-chapters = site.baselines | where: "title","1. Keyboard Accessible" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
<hr>
{% assign baseline-chapters = site.baselines | where: "title","2. Focus" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
<hr>
{% assign baseline-chapters = site.baselines | where: "title","3. Non-Interference" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","4. Repetitive Content" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","5. Changing Content" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","6. Images" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","7. Sensory Characteristics" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","8. Contrast" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","9. Flashing" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","10. Forms" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","11. Page Titles" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","12. Tables" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","13. Content Structure" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","14. Links" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","15. Language" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","16. Audio-Only and Video-Only" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","17. Synchronized Media" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","18. CSS Content and Positioning" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","19. Frames and iFrames" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","20. Conforming Alternate Version" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","21. Timed Events" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","22. Resize Text" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","23. Multiple Ways" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	<hr>
{% assign baseline-chapters = site.baselines | where: "title","24. Parsing" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
</div><!-- end -->