---
title: All Baselines Tests for Documents
permalink: /alldocsbaselines
layout: page-full
---
{% assign baseline-chapters = site.baselines | where: "title","1. Keyboard Accessible (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}

{% assign baseline-chapters = site.baselines | where: "title","2. Focus (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}

{% assign baseline-chapters = site.baselines | where: "title","3. Non-Interference (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","4. Repetitive Content -- Not Applicable (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","5. User Controls (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","6. Images (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","7. Sensory Characteristics (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","8. Contrast (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","9. Flashing (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","10. Forms (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","11. Document Titles (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","12. Tables (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","13. Content Structure (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","14. Links (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","15. Language (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","16. Audio-Only and Video-Only (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","17. Synchronized Media (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","18. Meaningful Content and Sequence (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","19. Frames and iFrames -- Not Applicable (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","20. Conforming Alternate Version (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","21. Timed Events (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","22. Resize Text (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","23. Multiple Ways — Not Applicable (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","24. Parsing (Docs)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
</div><!-- end -->
{% include back-to-top.html %}