---
title: All Baselines Tests for Web
permalink: /allwebbaselines
layout: page-full
---
{% assign baseline-chapters = site.baselines | where: "title","1. Keyboard Accessible (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}

{% assign baseline-chapters = site.baselines | where: "title","2. Focus (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}

{% assign baseline-chapters = site.baselines | where: "title","3. Non-Interference (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","4. Repetitive Content (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","5. User Controls (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","6. Images (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","7. Sensory Characteristics (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","8. Contrast (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","9. Flashing (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","10. Forms (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","11. Page Titles (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","12. Tables (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","13. Content Structure (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","14. Links (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","15. Language (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","16. Audio-Only and Video-Only (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","17. Synchronized Media (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","18. CSS Positioning (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","19. Frames and iFrames (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","20. Conforming Alternate Version (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","21. Timed Events (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","22. Resize Text (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","23. Multiple Ways (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
	
{% assign baseline-chapters = site.baselines | where: "title","24. Parsing (Web)" %}
	{% for chapter in baseline-chapters %}
		<div>{{chapter.content | markdownify}}</div>
	{% endfor %}
</div><!-- end -->
{% include back-to-top.html %}