---
layout: default
---


<div class="usa-layout-docs">
  <div id="section-title" class="bg-primary-darker usa-content font-serif-lg padding-y-3">
    <div class="grid-container text-center maxw-desktop">
      <h1 class="text-normal text-white margin-0">{{ page.collection-title }}</h1>
      {%- if page.collection-subtitle -%}
      <h3 class="text-italic text-white margin-0 padding-top-1">{{ page.collection-subtitle }}</h3>
      {%- endif -%}
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.left-sidenav %}
      {% include {{ page.left-sidenav }} %}
      {% endif %}
      <div id="standard" class="desktop:grid-col usa-prose">
 {%- comment -%}
    {% if page.title %}<h2 class="text-center text-italic font-heading-md">{{page.title}}</h2>{% endif %}
 {%- endcomment -%}
        
        {% if page.file %}
        <div class="clearfix">
            <span class="float-right">{{ page.file-description }}
            <a href="{{ site.baseurl }}{{ page.file-directory }}{{ page.file }}" target="_blank" rel="noreferrer">
            <button class="usa-button ">Download</button>
            </a>
            </span>
        </div>


        {% endif %}
        <div>{{ content }}</div>
        {% include back-to-top.html %}

      </div>

      {% if page.right-sidenav %}
      {% include {{ page.right-sidenav }} %}
      {% endif %}
    </div>
  </div>
</div>
