<h3>Advisory: Tips for streamlined test processes</h3>

<ul>
    <li>Changes to controls may also include changes in color to convey information. If so, this test should check that the information is programmatically determinable. If color is used as the only visual means of conveying information (or changes in information), then the content would fail to meet SC 1.4.1 Use of Color (addressed in <a href="{{site.baseurl}}/web-baselines/07Sensory/">Baseline 7. Sensory Characteristics</a>).</li>
    <li>The accessible name and accessible description of some user controls are tested in other Baseline tests, such as <a href="{{site.baseurl}}/web-baselines/10Forms/">Baseline 10. Forms</a>, <a href="{{site.baseurl}}/web-baselines/14Links/">Baseline 14. Links</a>. For user controls that have dedicated Baseline Tests, please map to those tests for accessible name instead of 5.A-ControlName.</li>
    <li>This test may require interaction with controls to assess changes in name, role, state, value. Interaction instructions such as a test plan may be helpful.</li>
</ul>
