<h3>Advisory: Tips for Streamlined Test Processes</h3>

-   There are a variety of color contrast tools that can perform the algorithms necessary to determine the contrast. See <a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G18">Sufficient Technique G18</a> for possible testing tools that use an appropriate algorithm.

-   Use contrast tools that do not round values. A ratio of 4.499:1 would not meet the 4.5:1 threshold.

-   <a href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum">WCAG 2.2 Understanding 1.4.3: Contrast (Minimum)</a> suggests using foreground and background colors obtained from the user agent, or the underlying markup and stylesheets for the contrast ratio computation, rather than the text as presented on screen.

-   While text contained in logos rendered as images is exempt from this requirement, the image must still provide alternative text (e.g., via an alt attribute).
