<h3>Advisory: Tips for Streamlined Test Processes</h3>

- Content that is presented with a CSS table appearance, but does not rely on header association, can most easily be identified by linearization. Another helpful indicator is the table only has row headers or column headers but not both.
- Baseline Tests [12.A]({{site.baseurl}}/web-baselines/12DataTables/#12a-test-procedure-for-data-table-roles) and [12.C]({{site.baseurl}}/web-baselines/12DataTables/#12c-test-procedure-for-layout-tables) should be performed for each data table.
