<h3>Advisory: Tips for streamlined test processes</h3>

-   When a conforming alternate version is provided, non-conforming versions of that content are tested only for Conformance Requirement 5. It is not necessary to test the non-conforming versions of that content for other baseline tests.
-   The presence of a conforming alternate version can determine whether other versions of the content need to be tested. To save on time and effort, it is advised that this be one of the first tests performed.
