### WCAG 2.2 Techniques

The following sufficient techniques and/or common failures were considered when developing this test procedure for this baseline requirement:

<ul>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F55">F55: Failure of Success Criteria 2.1.1, 2.4.7, and 3.2.1 due to using script to remove focus when focus is received</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F85">F85: Failure of Success Criterion 2.4.3 due to using dialogs or menus that are not adjacent to their trigger control</a> in the sequential navigation order</li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G59">G59: Placing the interactive elements in an order that follows sequences and relationships within the content</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G107">G107: Using "activate" rather than "focus" as a trigger for changes of context</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G149">G149: Using user interface components that are highlighted by the user agent when they receive focus.</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G165">G165: Using the default focus indicator for the platform so that high visibility default focus indicators will carry over</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G195">G195: Using an author-supplied, highly visible focus indicator</a></li>
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR26">SCR26: Inserting dynamic content into the Document Object Model immediately following its trigger element</a></li>
    {% if page.source == "Doc" %}
    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF3">PDF3: Ensuring correct tab and reading order in PDF documents</a></li>
    {% endif %}
</ul>